<script src="https://unpkg.com/vue"></script>

<div id="template">
  <h3>Basic Template</h3>
  <p>{{ message }}</p>
</div>

<hr>

<div id="attribute">
  <h3>Attributes</h3>
  <div v-bind:title="message">
    <p>Hover Here</p>
  </div>
</div>

<hr>

<div id="control">
  <h3>Control Statements</h3>
  <!--v-if => load it?-->
  <div>
    <button v-on:click="seen = !seen">
      Toggle Visibility
    </button>
  </div>
  <div v-if="seen">
  </div>
  <div class="alt" v-if="!seen">
  </div>
  <!--v-show => display element?-->
  <div v-show="seen">
  </div>
  <div class="alt" v-show="!seen">
  </div>
  <!--v-for => looping-->
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<hr>

<div id="methods">
<h3>Methods</h3>
  <button v-on:click="push">
    Push
  </button>
  <button v-on:click="remove">
    Remove
  </button>
  <ul>
    <li v-for="item in list">
      {{ item }}
    </li>
  </ul>
</div>

<hr>

<div id="transitions">
  <h3>Transitions</h3>
  <a href="https://vuejs.org/v2/guide/transitions.html">Reference</a>
  <img src="https://vuejs.org/images/transition.png">
  <button v-on:click="show = !show">
    Transition
  </button>
  <transition name="fade">
    <p v-if="show">fade</p>
  </transition>
  <transition name="collapse-vertical">
    <div v-if="show"></div>
  </transition>
</div>
