<script src="https://unpkg.com/vue"></script>

<div id="template">
  <h3>Basic Template</h3>
  <p>{{ message }}</p>
</div>

<hr>

<div id="attribute">
  <h3>Attributes</h3>
  <div v-bind:title="message">
    <p>Hover Here</p>
  </div>
</div>

<hr>

<div id="control">
  <h3>Control Statements</h3>
  <!--v-if => load it?-->
  <div v-if="seen">
  </div>
  <div class="alt" v-if="!seen">
  </div>
  <!--v-show => display element?-->
  <div v-show="seen">
  </div>
  <div class="alt" v-show="!seen">
  </div>
  <!--v-for => looping-->
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>