*{
  font-family: arial;
  text-align: center;
}

#control div{
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: coral;
}

#control .alt{
  background-color: chartreuse;
}