* {
  font-family: arial;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  font-size: 14pt;
  padding: .5em;
  margin-bottom: 1em;
}

img {
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*make sure transition property matches second state*/
.collapse-vertical-enter-active,
.collapse-vertical-leave-active {
  transition: height .5s;
}

/*transition second state*/
/*never reached*/
#transitions .collapse-vertical-enter,
#transitions .collapse-vertical-leave-to {
  height: 0;
}

#control div:not(:first-of-type) {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: coral;
}

#control .alt:not(:first-of-type) {
  background-color: transparent;
  border: dashed black 3px;
}

/*initial/default state for transition*/
#transitions div {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
}